.priWidth{width:50px !important;}
.dateWidth{width:80px !important;}
.delayWidth{width:60px !important;}
.estWidth{width:60px !important;}
.taskConsumedWidth{width:80px !important;}
.taskTotalWidth{width:60px !important;}
.projectConsumedWidth{width:80px !important;}
.userConsumedWidth{width:80px !important;}
