.checkbox-primary > label {margin: 0;}
.wrapper {line-break: anywhere;}
.vtop {vertical-align: top!important;}
.table-form td + td, .table-form th + th {padding: 5px;}
.page-content .nav li {min-width: 82px; text-align: center;}
.tab-content .tab-pane {border: 1px solid #dddddd; border-top: none; padding: 40px 0;}
td div label {line-height:18px;}
